/* general page styling */
body {
    font: 10pt Verdana, sans-serif;
    background-color: #bbeedd;
    padding: 0 1em;
}
h1 {
    margin: 0.5em 0;
}
fieldset {
    float: left;
    background-color: #ddffee;
}
legend {
    font-weight: bold;
}
th, td {
    padding: 0;
}
th {
    font-size: 0.8em;
}
.big-text {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
}
.panel {
    float: left;
    display: inline-block;
}
.poke-info {
    width: 28em;
}
.field-info {
    width: 28em;
}

/* general button styling */
.btn {
    text-align: center;
    border: solid 1px #aaaaaa;
    padding: 4px 8px;
    position: relative;
    cursor: pointer;
    color: #555555;
    background: #e9e9e9;
    margin: -1px -3px 0;
    display: inline-block;
    width: 5em;
    border-radius: 8px;
}
.btn-wide {
    width: 7em;
}
.btn-xwide {
    width: 8em;
}
.btn-xxwide {
    width: 10em;
}
.btn-small {
    width: 4em;
}
.btn-xsmall {
    width: 1em;
}
.btn-2 {
    width: 20%;
}
.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-mid {
    border-radius: 0;
}
.btn:hover {
    z-index: 10;
    border-color: #777777;
    background: #e3e3e3;
}
.btn-input:checked + .btn {
    font-weight: bold;
    color: #111111;
    background: #f5f5f5;
}
.btn-input[type="radio"]:checked + .btn {
    cursor: default;
}
.btn-input {
    display: none;
}
.btn-input:disabled + .btn {
    color: #999999;
}
.btn-group {
    display: inline-block;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}

/* header */
.move-result-group {
    max-width: 80em;
    min-width: 50em;
    margin: 1em 0 10em;
}
.move-result-subgroup {
    float: left;
    width: 50%;
}
.move-result-group .btn {
    margin-right: 1em;
}
.main-result-group {
    margin: 2em 0;
}

/* pokemon info */
.poke-info label {
    display: inline-block;
    width: 6em;
}
.poke-info input:not([type]), .poke-info input[type="text"], .poke-info span {
    display: inline-block;
    width: 2.5em;
}
.info-group {
    margin: 1em 0;
}
.set-selector {
    width: 28em;
}
.info-selectors select {
    width: 8em;
}
select.toxic-counter {
    width: 4.5em;
}
.move-selector {
    width: 9em;
}
.poke-info .crit-btn {
    font-size: 0.8em;
    width: 2.5em;
    height: 1em;
    padding: 3px 3px;
}

/* field info */
.field-info .btn {
    font-size: 0.8em;
}

.hide {
    display: none;
}
